/*
.container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #333; 
  }
  
  p {
    font-size: 18px;
    color: #666; 
  }
  */

  body {
    background-color: lightgray; 
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  
  .container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 36px;
    color: #8b0000; 
    margin-bottom: 20px;
  }
  
  a {
    color: #1e90ff; 
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    color: #696969; 
    margin-top: 20px;
  }
  